<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="./stylesheets/main.css" />

    <title>Postal Calculator</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <h1 class="display-3">Postal Rate Calculator</h1>
      <p class="lead">Please Enter the Following</p>
      <hr class="my-2" />
      <div class="container text-left">
        <form action="/rates" method="post">
          <label for="weight">Enter weight in ounces:</label>
          <input class="form-control" type="text" name="weight" id="weight" />
          <label for="type">Enter postal type</label>
          <select class="form-control mb2" name="type" id="">
            <option value="">-- Select One --</option>
            <option value="1">Letters (Stamped)</option>
            <option value="2">Letters (Metered)</option>
            <option value="3">Large Envelopes (Flats)</option>
            <option value="4">First-Class Package Service - Retail</option>
          </select>
          <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
