<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="./stylesheets/main.css" />
    <title>Postal Calculator</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <h1 class="display-3">Postal Rate Calculator</h1>
      <p class="lead">Please Enter the Following</p>
      <hr class="my-2" />
      <h1>Your shipment cost is <%= cost%></h1>
    </div>
  </body>
</html>
